# Variables para docker-compose.yml.template
# Ajusta los valores según tu entorno
DATA_BASE_HOST=database-mi-banca-postgres
DATA_BASE_USER=miusuario
DATA_BASE_PASS=miclaveja_segura
DATA_BASE_BD=mibasededatos